<div <%= "class=col-xs-10" if defined? in_chart %>>
	<div class="progress progress-container-bordered">
		<% 
			c = 0
			hour.each do |key,val| 
				proportion = proportion_for_these hour, c, key
		 		c += 1
			%>	
			<% if val.nil? %>
				<div class="progress-bar progress-bar-empty" style="width:<%= (proportion*100)/60.to_f %>%">
				</div>
			<% elsif val %>
				<div class="progress-bar progress-bar-danger" style="width:<%= (proportion*100)/60.to_f %>%">
				</div>
			<% else %>
				<div class="progress-bar progress-bar-success" style="width: <%= (proportion*100)/60.to_f %>%">
				</div>
			<% end %>
		<% end %>
	</div>
</div>
<% if defined? in_chart %>
	<%= render partial: 'hour_zoom', locals: {hour: hour}%>
<% end %>
