<% content_for(:head) do %>
  <%= javascript_include_tag "tracks" %>
<% end %>

<div class="row">
	<div class="col-xs-1 track-chart-days">
		<div class="row">
			<div class="col-xs-12 no-padding">
				<div class="progress">
					<div class="progress-bar progress-bar-success" style="width: 0%;">
					</div>
				</div>
			</div>
			<% @days.each do |key, value|%>
				<div class="col-xs-12 no-padding track-chart-days">
					<div class="progress">
						<div class="progress-bar progress-bar-success" style="width: 0%;">
						</div>
						<div class="text-center"><%= key %></div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
	<div class="col-xs-11">
		<div class="row">
			<div class="col-xs-12">
			<div class="row">
				<div class="col-xs-6 no-padding">
					<% (0...12).each do |range|%>
						<div class="col-xs-1 no-padding track-chart-head">
							<div class="progress">
							  <div class="progress-bar progress-bar-success" style="width: 0%;">
							  </div>
								<%= sprintf('%02d', range).to_s+"-"+sprintf('%02d', range+1).to_s  %>
							</div>
						</div>
				<% end %>
					</div>
				<div class="col-xs-6 no-padding text-center" style="margin-left:-1px;">
					<% (12..23).each do |range| %>
						<div class="col-xs-1 track-chart-head" >
							<div class="progress">
							  <div class="progress-bar progress-bar-success" style="width: 0%;">
							  </div>
								<% if range+1 != 24 %>
									<%= "#{range}-#{range+1}" %>
								<% else %>
									<%= "#{range}-00" %>
								<% end %>
							</div>
						</div>
					<% end %>
					</div>
				</div>
			</div>
			<div class="col-xs-12" id="days">
				<%= render partial: 'days', locals: { days: @days } %>
			</div>
		</div>
	</div>
</div>
<br>
	<%= render partial: 'table', locals: { tracks: @tracks }%>
<br><br>

