<!DOCTYPE html>
<html>
	<head>
	  <title>QueueMonitor</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= yield :head %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-static-top">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="#">
		        QUEUE MONITOR
		      </a>
		    </div>
		      <p class="navbar-text navbar-right" style="margin-right:5px;">Supermercado DIA: Juan Francisco Segui 4668</p>
		  </div>
		</nav>
		<div class="container">
			<%= yield %>
		</div>
	</body>
</html>
